
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="/adminhome">Home</a>
    <a href="/admin_manage_users">View  Users</a>
    <a href="/admin_view_compalints">View Complaints</a>
    <a href="/admin_manage_films">Manage Films</a>
    <a href="/admin_view_Review">View Reviews</a>
    <a href="/admin_send_notification">Send Notification</a>
    <a href="/admin_view_producers">View Producers</a>
    <a href="/admin_view_theaters">View Theaters</a>
    <a href="/admin_view_ContentManager">View Content Managers</a>
    <a href="/">Logout</a>

