

{%include 'admin_header.html'%}
<br><br><br><br><br><br>

<div class="container mt-4">
    <h2 class="text-center mb-4">User Management</h2>
    <div class="row">
        {% for i in usr %}
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p class="card-text"><strong>Email:</strong> {{ i.email }}</p>
                    <p class="card-text"><strong>Phone:</strong> {{ i.phone }}</p>
                    <p class="card-text"><strong>Preferences:</strong> {{ i.preferences }}</p>
                    <div class="d-flex justify-content-between">
                        <a href="/accept_user/{{i.login_id}}" class="btn btn-success">Accept</a>
                        <a href="/reject_user/{{i.login_id}}" class="btn btn-danger">Reject</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{%include 'footer.html'%}