
{%include 'admin_header.html'%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="" method="post">
        <table>
            <tr>
                <th>Title</th>
                <td><input type="text" name="title" ></td>
            </tr>

            <tr>
                <th>Notification</th>
                <td><input type="text" name="noti" ></td>
            </tr>

            <tr>
                <th><input type="submit" name="send" ></th>
            </tr>
        </table>
    </form>

</body>
</html>

{%include 'footer.html'%}