{% include 'filmmaker_header.html' %}

<h1>film maker view films</h1>

<table border="1">
    <tr>
        <th>Sl.No</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Budget</th>
        <th>Status</th>
        <!-- <th>Target Audience</th>
        <th>Platform</th>
        <th>Impressions</th>
        <th>Clicks</th> -->
    </tr>
    {% for i in campaigns %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.start_date }}</td>
        <td>{{ i.end_date }}</td>
        <td>{{ i.budget }}</td>
        <td>{{ i.status }}</td>
        <!-- <td>{{ i.target_audience }}</td>
        <td>{{ i.platform }}</td>
        <td>{{ i.impressions }}</td>
        <td>{{ i.clicks }}</td> -->
    </tr>
    {% endfor %}
</table>


{% include 'footer.html' %}