{% include 'filmmaker_header.html' %}

<h1>welcome film maker</h1>


{% if a%}
<form action="" method="post">
    <table>
        <tr>
            <th>Name</th>
            <td><input type="text" name="name" value="{{a.name}}"></td>
        </tr>
        <tr>
            <th>EMAIL</th>
            <td><input type="text" name="email" value="{{a.email}}"></td>
        </tr>
        <tr>
            <th>PHONE</th>
            <td><input type="text" name="phone" value="{{a.phone}}"></td>
        </tr>
        <tr>
            <th>BIO</th>
            <td><input type="text" name="bio" value="{{a.bio}}"></td>
        </tr>
        <tr>
            <th><input type="submit" name="submit"></th>
        </tr>
    </table>
</form>
{%endif%}



{% include 'footer.html' %}