

{%include 'filmmaker_header.html'%}
<br><br><br><br><br><br><br><br>

    
    <div class="container">
        <div class="row">
            {% for i in theater_owners %}
            <div class="col-md-4 mb-3">
                <div class="card border-primary shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.name }}</h5>
                        <p class="card-text"><strong>Email:</strong> {{ i.email }}</p>
                        <p class="card-text"><strong>Phone:</strong> {{ i.phone }}</p>
                        <p class="card-text"><strong>Place:</strong> {{ i.bio }}</p>
                        <a href="/film_maker_chat_owners/{{i.login_id}}" class="btn btn-primary">Chat</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    

</body>
</html>

{%include 'footer.html'%}