

{%include 'thearte_header.html'%}


    <div class="container">
        <div class="row">
            {% for i in bks %}
            <div class="col-md-4 mb-3">
                <div class="card border-primary shadow">
                    <div class="card-body">
                        <h5 class="card-title">Booking #{{ forloop.counter }}</h5>
                        <p class="card-text"><strong>Payment Status:</strong> {{ i.payment_status }}</p>
                        <p class="card-text"><strong>Date:</strong> {{ i.booking_date }}</p>
                        <a href="/theatre_view_payment_details/{{i.booking_id}}" class="btn btn-primary">View Payment Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


{%include 'footer.html'%}
