

{%include 'thearte_header.html'%}

<br><br><br><br><br>

    

<div class="container">
    <h2>Register Theater Owner</h2>
    <form action="" method="post" enctype="multipart/form-data" class="mb-4">
        <div class="mb-3">
            <label for="snum" class="form-label">Seat Number:</label>
            <input type="text" class="form-control" id="snum" name="snum" required>
        </div>
        <div class="mb-3">
            <label for="stype" class="form-label">Seat Type:</label>
            <input type="text" class="form-control" id="stype" name="stype" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Add Seat</button>
    </form>
</div>

<br><br><br><br>

<div class="container">
    <div class="row">
        {% for seat in st %}
        <div class="col-md-4 mb-3">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title">Seat No: {{ seat.seat_number }}</h5>
                    <p class="card-text"><strong>Type:</strong> {{ seat.seat_type }}</p>
                    <p class="card-text"><strong>SL.NO:</strong> {{ forloop.counter }}</p>
                    <p class="card-text"><strong>availability:</strong> {{ seat.status }}</p>
                    <a href="/update_availability/{{seat.seat_id}}">Make available</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

    

{%include 'footer.html'%}
