

{%include 'public_header.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    <form action="" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <th>Name</th>
                <td><input type="text" name="name"></td>
            </tr>

            <tr>
                <th>Email</th>
                <td><input type="email" name="mail"></td>
            </tr>

            <tr>
                <th>Phone</th>
                <td><input type="text" name="phone"></td>
            </tr>
            <tr>
                <th>License</th>
                <td><input type="file" name="photo" ></td>
            </tr>

            <tr>
                <th>User Name</th>
                <td><input type="text" name="uname" ></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" name="pass" ></td>
            </tr>
            <tr>
                <th><input type="submit" name="Add" ></th>
            </tr>
        </table>
    </form>
    
    
</body>
</html>
{%include 'footer.html'%}


