

{%include 'thearte_header.html'%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table border="2">
        <tr>
            <th>Sl.No</th>
            <th>Payment Status</th>
            <th>Date</th>
        </tr>
        
        {% for i in bks %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.payment_status}}</td>
            <td>{{i.booking_date}}</td>
            <td><a href="/theatre_view_payment_details/{{i.booking_id}}">View Payment Details</a></td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>

{%include 'footer.html'%}
