

{%include 'thearte_header.html'%}
<br><br><br><br><br><br><br><br>
<h1 class="text-center">view other theaters</h1>

    <div class="container">
        <div class="row">
            {% for theatre in th %}
            <div class="col-md-4 mb-3">
                <div class="card border-primary shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ theatre.name }}</h5>
                        <p class="card-text"><strong>Location:</strong> {{ theatre.location }}</p>
                        <p class="card-text"><strong>Capacity:</strong> {{ theatre.capacity }}</p>
                        <p class="card-text"><strong>Email:</strong> {{ theatre.contact_email }}</p>
                        <p class="card-text"><strong>Phone:</strong> {{ theatre.contact_phone }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    

    


{%include 'footer.html'%}
