

{%include 'thearte_header.html'%}

<br><br><br><br><br><br><br><br>

{%if thup%}
<div class="container mt-4">
    <form action="" method="post" enctype="multipart/form-data" class="p-4 border rounded shadow bg-light">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" name="name" class="form-control" value="{{thup.name}}">
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="mail" class="form-control" value="{{thup.email}}">
        </div>

        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="text" name="phone" class="form-control" value="{{thup.phone}}">
        </div>

        <div class="mb-3">
            <label class="form-label">License</label>
            <input type="file" name="photo" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>


{%else%}


<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-primary shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ th.name }}</h5>
                    <p class="card-text"><strong>Email:</strong> {{ th.email }}</p>
                    <p class="card-text"><strong>Phone:</strong> {{ th.phone }}</p>
                    <div class="mb-3">
                        <img src="/static/image/{{ th.license_photo }}" alt="License Image" class="img-fluid rounded" style="max-width: 100%; height: 250px;">
                    </div>
                    <a href="/thearter_owner_update_profile/{{ th.login_id }}" class="btn btn-primary">Update Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>


{%endif%}
    

{%include 'footer.html'%}
