
{% include 'user_header.html' %}

<!-- About Section -->
<section id="about" class="about section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 align-items-center justify-content-between">

        <div class="col-xl-12" data-aos="fade-up" data-aos-delay="200">
          <span class="about-meta">List of movies</span>
          <div class="container">
            <h2 class="text-center my-4">Films playing..</h2>
            <div class="row">
                {% for i in films %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow">
                        <img src="static/image/{{ i.photo }}" class="card-img-top" alt="{{ i.film_name }}" style="height: 250px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ i.film_name }}</h5>
                            <p class="card-text"><strong>Date:</strong> {{ i.date }}</p>
                            <p class="card-text">{{ i.deatils }}</p>
                            <a href="/user_view_theaters" class="btn btn-primary">View Theaters</a>
                            <a href="/use_add_rating/{{ i.filmid }}" class="btn btn-secondary">Add Rating</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        </div>

        <!-- <div class="col-xl-6" data-aos="fade-up" data-aos-delay="300">
          <div class="image-wrapper">
            <div class="images position-relative" data-aos="zoom-out" data-aos-delay="400">
              <img src="/static/assets/img/about-5.webp" alt="Business Meeting" class="img-fluid main-image rounded-4">
              <img src="/static/assets/img/about-2.webp" alt="Team Discussion" class="img-fluid small-image rounded-4">
            </div>
            <div class="experience-badge floating">
              <h3>15+ <span>Years</span></h3>
              <p>Of experience in business service</p>
            </div>
          </div>
        </div> -->
      </div>

    </div>

  </section><!-- /About Section -->



{% include 'footer.html' %}